.nameText {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-crimson);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.eloffIcon,
.nameTextWrapper {
  height: 46px;
  width: 46px;
  position: relative;
}
.eloffIcon {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -33px;
}
.logoff {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-smi) 0 0;
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  bottom: 94px;
  left: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
